/* These sheets have no style. */
body{
  font-family: Helvetica, Arial, sans-serif;
font-size: 1.1em;
background: #000;
  color: #000;
margin: 0;
}
.logoa{
  cursor: default;
  text-decoration: none;
  display: block;
  width: 35%;
}
.logoimg{
  width: 100%;
}
.head{
  font-family: Helvetica, Arial, sans-serif;
text-align: center;
font-size: 2.8em;
color: #000;
margin: 0;
padding: 0;
}
.subhead{
  font-family: Helvetica, Arial, sans-serif;
text-align: center;
font-size: 1.55em;
color: #444;
margin: 0;
padding: 0;
}
nav{
  width: 100%;
}
.navul{
  width: 100%;
  height: 10%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #e6e6e6;
  border-top: 4px solid #000;
}
.navli{
  float: left;
}
.navli .nava{
  display: block;
  color: #000;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  transition-duration: 0.05s;
  -webkit-transition-duration: 0.05s;
}
.navli .nava:hover{
  display: block;
  color: #fff;
  background: #000;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}
.navlir{
  float: right;
}
.navlir .navar{
  display: block;
  color: #000;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  transition-duration: 0.05s;
  -webkit-transition-duration: 0.05s;
}
.navlir .navar:hover{
  display: block;
  color: #e6e6e6;
  background: #000;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}
.active{
  display: block;
  color: #e6e6e6;
  background: #000;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}
.main{
  width: 100%;
  background: #e6e6e6;
}
.lp{
margin-left: 1%;
margin-right: 10%;
text-align: left;
}
.rp{
margin-left: 10%;
margin-right: 1%;
text-align: right;
}
.lul{
  list-style-type: none;
  text-align: right;
}
.lli{
  margin-left: 1.5%;
}
.rul{
  list-style-type: none;
  text-align: right;
}
.rli{
  margin-right: 1.5%;
}
.cp{
margin-left: 1%;
margin-right: 1%;
  text-align: center;
}

.mercha{
cursor: default;
  text-decoration: none;
  display: block;
  width: 50%;
}

.merchimg{
width: 100%;
}

.link:link{
  color: #00f;
  text-decoration: none;
}
.link:visited{
  color: #f00;
  text-decoration: none;
}
.link:active{
  color: #00f;
  text-decoration: none;
}
.link:hover{
  color: #0f0;
  text-decoration: none;
}
.bottombar{
  width: 100%;
  background: #000;
  color: #e6e6e6;
}
.yt-butt{
color: #e6e6e6;
text-decoration: none;
}
.yt-butt:hover{
color: #f00;
text-decoration: none;
}
.tw-butt{
color: #e6e6e6;
text-decoration: none;
}
.tw-butt:hover{
color: #1da1f2;
text-decoration: none;
}
.re-butt{
color: #e6e6e6;
text-decoration: none;
}
.re-butt:hover{
color: #ff5700;
text-decoration: none;
}
.gh-butt{
color: #e6e6e6;
text-decoration: none;
}
.gh-butt:hover{
color: #24292e;
text-decoration: none;
}
#topButt{
  display: none;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 99;
  border: 2px solid #000;
  outline: none;
  background: #e6e6e6;
  cursor: pointer;
  padding: 15px;
  border-radius: 12px;
  font-size: 1.3em;
}
#topButt:hover{
  background-color: #000;
  color: #e6e6e6;
  border: 2px solid #e6e6e6;
}
::selection{
background: #000;
color: #fff;
}
::-moz-selection{
background: #000;
color: #fff;
}
::-webkit-scrollbar{
width: 5px;
}
::-webkit-scrollbar-track{
background: #555;
}
::-webkit-scrollbar-thumb{
background: #000;
}
::-webkit-scrollbar-thumb:hover{
background: #222;
}